# First implementation of Machine Learning Algorithm

In this file, we are going to import data from a file .csv that we take from chornograf.
We have to parse him and put into an array.
Finally we will insert some machin Learning algorithm with the librairy sklearn.

To do this, we will use some librairy as pandas, matplotlib, numpy, sklearn and some others.


Le fichier data2learn2.csv a pour query ceci : 

SELECT mean("moisture-percent") AS "mean_moisture-percent" ,  mean("temperature") AS "mean_temperature"

FROM "demeter"."autogen"."chirp-left" 

WHERE time > now() - 1200h AND time < now() -700h

GROUP BY time(30m)

In [2]:
import csv
import math
import matplotlib.pyplot as plt
import numpy as np

#Data place 
tabl = []

name = 'Data2learn.csv'
nameTabl = []
with open(name) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    ligne = 0
    for row in csv_reader:
        if ligne != 0:
            i = 0
            for el in row:
                tabl[i].append(el)
                i += 1
        else:
            for el in row:
                tabl.append([])
                nameTabl.append(el)
                
        ligne += 1
        
#print(tabl)
print(nameTabl)

['date', 'mean_moisture-percent', 'mean_temperature']

# Import des données 

Leccture d'un fichier csv en un fichier dataframe.

Création d'une base dataframe avec comme colonne le temps, l'humidité, la tempérture, l'humidité + 1, la température + 1.

Il faut régler le problème tu dernier temps.

In [20]:
import csv
import math
import pandas as pd
import numpy as np

df = pd.read_csv('Data2learn2.csv')
#print(df)
#print(df.iloc[:,2])

#Création des deux autres colonnes
df['moistureAdd'] = df.index
df['temperatureAdd'] = df.index

# size
nligne = df.shape[0]
nColumn = df.shape[1]
tmp = np.linspace(0,nligne-2,nligne-1,dtype=int)
df.iloc[tmp, 3] = pd.Series(np.append(df.iloc[tmp+1,1].to_numpy()-df.iloc[tmp,1].to_numpy(),0), index=df.index)
df.iloc[tmp, 4] = pd.Series(np.append(df.iloc[tmp+1,2].to_numpy()-df.iloc[tmp,2].to_numpy(),0), index=df.index)

#Ajout de la ligne
df.iloc[nligne-1, 3] = 0
df.iloc[nligne-1, 4] = 0


#df

,date,mean_moisture-percent,mean_temperature,moistureAdd,temperatureAdd
0,3/8/2019 11:30:00.000000000 PM,31.436364,24.200000,-0.076364,0.001667
1,3/9/2019 12:00:00.000000000 AM,31.360000,24.201667,0.003333,-0.001667
2,3/9/2019 12:30:00.000000000 AM,31.363333,24.200000,-0.010000,0.000000
3,3/9/2019 1:00:00.000000000 AM,31.353333,24.200000,-0.050000,-0.003333
4,3/9/2019 1:30:00.000000000 AM,31.303333,24.196667,0.056667,-0.120000
5,3/9/2019 2:00:00.000000000 AM,31.360000,24.076667,0.056667,-0.076667
6,3/9/2019 2:30:00.000000000 AM,31.416667,24.000000,-0.010000,-0.006667
7,3/9/2019 3:00:00.000000000 AM,31.406667,23.993333,-0.043333,0.006667
8,3/9/2019 3:30:00.000000000 AM,31.363333,24.000000,0.003333,0.000000
9,3/9/2019 4:00:00.000000000 AM,31.366667,24.000000,-0.043333,-0.006667
10,3/9/2019 4:30:00.000000000 AM,31.323333,23.993333,-0.026667,-0.058333
11,3/9/2019 5:00:00.000000000 AM,31.296667,23.935000,-0.020000,-0.066667
12,3/9/2019 5:30:00.000000000 AM,31.276667,23.868333,0.066667,-0.061667
13,3/9/2019 6:00:00.000000000 AM,31.343333,23.806667,-0.010000,0.123333
14,3/9/2019 6:30:00.000000000 AM,31.333333,23.930000,0.076667,0.213333
15,3/9/2019 7:00:00.000000000 AM,31.410000,24.143333,-0.043333,0.078333
16,3/9/2019 7:30:00.000000000 AM,31.366667,24.221667,0.063333,0.071667
17,3/9/2019 8:00:00.000000000 AM,31.430000,24.293333,-0.046667,0.018333
18,3/9/2019 8:30:00.000000000 AM,31.383333,24.311667,-0.026667,0.660000
19,3/9/2019 9:00:00.000000000 AM,31.356667,24.971667,0.010000,0.350000
20,3/9/2019 9:30:00.000000000 AM,31.366667,25.321667,0.043333,0.230000
21,3/9/2019 10:00:00.000000000 AM,31.410000,25.551667,0.130000,0.155000
22,3/9/2019 10:30:00.000000000 AM,31.540000,25.706667,5.731667,-0.018333
23,3/9/2019 11:00:00.000000000 AM,37.271667,25.688333,-1.688333,0.161667
24,3/9/2019 11:30:00.000000000 AM,35.583333,25.850000,-0.423333,0.081667
25,3/9/2019 12:00:00.000000000 PM,35.160000,25.931667,-0.346667,0.286667
26,3/9/2019 12:30:00.000000000 PM,34.813333,26.218333,-0.373333,-0.156667
27,3/9/2019 1:00:00.000000000 PM,34.440000,26.061667,-0.100000,0.140000
28,3/9/2019 1:30:00.000000000 PM,34.340000,26.201667,-0.396667,0.185000
29,3/9/2019 2:00:00.000000000 PM,33.943333,26.386667,-0.090000,-0.105000
...,...,...,...,...,...
971,3/29/2019 5:00:00.000000000 AM,13.910000,25.620000,-0.093333,-0.076667
972,3/29/2019 5:30:00.000000000 AM,13.816667,25.543333,-0.010000,-0.043333
973,3/29/2019 6:00:00.000000000 AM,13.806667,25.500000,0.026667,0.000000
974,3/29/2019 6:30:00.000000000 AM,13.833333,25.500000,-0.083333,-0.003333
975,3/29/2019 7:00:00.000000000 AM,13.750000,25.496667,0.063333,0.003333
976,3/29/2019 7:30:00.000000000 AM,13.813333,25.500000,0.026667,0.000000
977,3/29/2019 8:00:00.000000000 AM,13.840000,25.500000,0.006667,-0.460000
978,3/29/2019 8:30:00.000000000 AM,13.846667,25.040000,0.436667,-4.096667
979,3/29/2019 9:00:00.000000000 AM,14.283333,20.943333,-0.266667,2.858333
980,3/29/2019 9:30:00.000000000 AM,14.016667,23.801667,-0.296667,1.621667
981,3/29/2019 10:00:00.000000000 AM,13.720000,25.423333,-0.130000,0.603333
982,3/29/2019 10:30:00.000000000 AM,13.590000,26.026667,7.636667,-0.950000
983,3/29/2019 11:00:00.000000000 AM,21.226667,25.076667,-3.871667,1.118333
984,3/29/2019 11:30:00.000000000 AM,17.355000,26.195000,-0.708333,1.353333
985,3/29/2019 12:00:00.000000000 PM,16.646667,27.548333,-0.753333,3.401667
986,3/29/2019 12:30:00.000000000 PM,15.893333,30.950000,-0.630000,3.310000
987,3/29/2019 1:00:00.000000000 PM,15.263333,34.260000,-0.576667,0.450000
988,3/29/2019 1:30:00.000000000 PM,14.686667,34.710000,-0.553333,1.510000
989,3/29/2019 2:00:00.000000000 PM,14.133333,36.220000,-0.400000,0.780000
990,3/29/2019 2:30:00.000000000 PM,13.733333,37.000000,-0.566667,2.771667
991,3/29/2019 3:00:00.000000000 PM,13.166667,39.771667,-0.346667,2.141667
992,3/29/2019 3:30:00.000000000 PM,12.820000,41.913333,-0.040000,-1.826667
993,3/29/2019 4:00:00.000000000 PM,12.780000,40.086667,0.773333,-9.171667
994,3/29/2019 4:30:00.000000000 PM,13.553333,30.915000,0.333333,-2.835000
995,3/29/2019 5:00:00.000000000 PM,13.886667,28.080000,0.086667,-0.166667
996,3/29/2019 5:30:00.000000000 PM,13.973333,27.913333,-0.020000,-0.151667
997,3/29/2019 6:00:00.000000000 PM,13.953333,27.761667,-0.083333,-0.240000
998,3/29/2019 6:30:00.000000000 PM,13.870000,27.521667,-0.093333,-0.426667
999,3/29/2019 7:00:00.000000000 PM,13.776667,27.095000,0.123333,0.005000
1000,3/29/2019 7:30:00.000000000 PM,13.900000,27.100000,0.000000,0.000000

# Ajout de l'arrosage

L'arrosage est ajouté au temps 10h30.

In [21]:
df['Arosage'] = df.index
liste10h30 = np.linspace(22,982,int((982-22)/48)+1)


df.iloc[:,5] = 0
for i in liste10h30:
    df.iloc[int(i),5] = 10
df

,date,mean_moisture-percent,mean_temperature,moistureAdd,temperatureAdd,Arosage
0,3/8/2019 11:30:00.000000000 PM,31.436364,24.200000,-0.076364,0.001667,0
1,3/9/2019 12:00:00.000000000 AM,31.360000,24.201667,0.003333,-0.001667,0
2,3/9/2019 12:30:00.000000000 AM,31.363333,24.200000,-0.010000,0.000000,0
3,3/9/2019 1:00:00.000000000 AM,31.353333,24.200000,-0.050000,-0.003333,0
4,3/9/2019 1:30:00.000000000 AM,31.303333,24.196667,0.056667,-0.120000,0
5,3/9/2019 2:00:00.000000000 AM,31.360000,24.076667,0.056667,-0.076667,0
6,3/9/2019 2:30:00.000000000 AM,31.416667,24.000000,-0.010000,-0.006667,0
7,3/9/2019 3:00:00.000000000 AM,31.406667,23.993333,-0.043333,0.006667,0
8,3/9/2019 3:30:00.000000000 AM,31.363333,24.000000,0.003333,0.000000,0
9,3/9/2019 4:00:00.000000000 AM,31.366667,24.000000,-0.043333,-0.006667,0
10,3/9/2019 4:30:00.000000000 AM,31.323333,23.993333,-0.026667,-0.058333,0
11,3/9/2019 5:00:00.000000000 AM,31.296667,23.935000,-0.020000,-0.066667,0
12,3/9/2019 5:30:00.000000000 AM,31.276667,23.868333,0.066667,-0.061667,0
13,3/9/2019 6:00:00.000000000 AM,31.343333,23.806667,-0.010000,0.123333,0
14,3/9/2019 6:30:00.000000000 AM,31.333333,23.930000,0.076667,0.213333,0
15,3/9/2019 7:00:00.000000000 AM,31.410000,24.143333,-0.043333,0.078333,0
16,3/9/2019 7:30:00.000000000 AM,31.366667,24.221667,0.063333,0.071667,0
17,3/9/2019 8:00:00.000000000 AM,31.430000,24.293333,-0.046667,0.018333,0
18,3/9/2019 8:30:00.000000000 AM,31.383333,24.311667,-0.026667,0.660000,0
19,3/9/2019 9:00:00.000000000 AM,31.356667,24.971667,0.010000,0.350000,0
20,3/9/2019 9:30:00.000000000 AM,31.366667,25.321667,0.043333,0.230000,0
21,3/9/2019 10:00:00.000000000 AM,31.410000,25.551667,0.130000,0.155000,0
22,3/9/2019 10:30:00.000000000 AM,31.540000,25.706667,5.731667,-0.018333,10
23,3/9/2019 11:00:00.000000000 AM,37.271667,25.688333,-1.688333,0.161667,0
24,3/9/2019 11:30:00.000000000 AM,35.583333,25.850000,-0.423333,0.081667,0
25,3/9/2019 12:00:00.000000000 PM,35.160000,25.931667,-0.346667,0.286667,0
26,3/9/2019 12:30:00.000000000 PM,34.813333,26.218333,-0.373333,-0.156667,0
27,3/9/2019 1:00:00.000000000 PM,34.440000,26.061667,-0.100000,0.140000,0
28,3/9/2019 1:30:00.000000000 PM,34.340000,26.201667,-0.396667,0.185000,0
29,3/9/2019 2:00:00.000000000 PM,33.943333,26.386667,-0.090000,-0.105000,0
...,...,...,...,...,...,...
971,3/29/2019 5:00:00.000000000 AM,13.910000,25.620000,-0.093333,-0.076667,0
972,3/29/2019 5:30:00.000000000 AM,13.816667,25.543333,-0.010000,-0.043333,0
973,3/29/2019 6:00:00.000000000 AM,13.806667,25.500000,0.026667,0.000000,0
974,3/29/2019 6:30:00.000000000 AM,13.833333,25.500000,-0.083333,-0.003333,0
975,3/29/2019 7:00:00.000000000 AM,13.750000,25.496667,0.063333,0.003333,0
976,3/29/2019 7:30:00.000000000 AM,13.813333,25.500000,0.026667,0.000000,0
977,3/29/2019 8:00:00.000000000 AM,13.840000,25.500000,0.006667,-0.460000,0
978,3/29/2019 8:30:00.000000000 AM,13.846667,25.040000,0.436667,-4.096667,0
979,3/29/2019 9:00:00.000000000 AM,14.283333,20.943333,-0.266667,2.858333,0
980,3/29/2019 9:30:00.000000000 AM,14.016667,23.801667,-0.296667,1.621667,0
981,3/29/2019 10:00:00.000000000 AM,13.720000,25.423333,-0.130000,0.603333,0
982,3/29/2019 10:30:00.000000000 AM,13.590000,26.026667,7.636667,-0.950000,10
983,3/29/2019 11:00:00.000000000 AM,21.226667,25.076667,-3.871667,1.118333,0
984,3/29/2019 11:30:00.000000000 AM,17.355000,26.195000,-0.708333,1.353333,0
985,3/29/2019 12:00:00.000000000 PM,16.646667,27.548333,-0.753333,3.401667,0
986,3/29/2019 12:30:00.000000000 PM,15.893333,30.950000,-0.630000,3.310000,0
987,3/29/2019 1:00:00.000000000 PM,15.263333,34.260000,-0.576667,0.450000,0
988,3/29/2019 1:30:00.000000000 PM,14.686667,34.710000,-0.553333,1.510000,0
989,3/29/2019 2:00:00.000000000 PM,14.133333,36.220000,-0.400000,0.780000,0
990,3/29/2019 2:30:00.000000000 PM,13.733333,37.000000,-0.566667,2.771667,0
991,3/29/2019 3:00:00.000000000 PM,13.166667,39.771667,-0.346667,2.141667,0
992,3/29/2019 3:30:00.000000000 PM,12.820000,41.913333,-0.040000,-1.826667,0
993,3/29/2019 4:00:00.000000000 PM,12.780000,40.086667,0.773333,-9.171667,0
994,3/29/2019 4:30:00.000000000 PM,13.553333,30.915000,0.333333,-2.835000,0
995,3/29/2019 5:00:00.000000000 PM,13.886667,28.080000,0.086667,-0.166667,0
996,3/29/2019 5:30:00.000000000 PM,13.973333,27.913333,-0.020000,-0.151667,0
997,3/29/2019 6:00:00.000000000 PM,13.953333,27.761667,-0.083333,-0.240000,0
998,3/29/2019 6:30:00.000000000 PM,13.870000,27.521667,-0.093333,-0.426667,0
999,3/29/2019 7:00:00.000000000 PM,13.776667,27.095000,0.123333,0.005000,0
1000,3/29/2019 7:30:00.000000000 PM,13.900000,27.100000,0.000000,0.000000,0

# Analyse de la dataFrame


# Linear Regression Multiple Variables

In [22]:
from sklearn import linear_model

reg = linear_model.LinearRegression()
reg.fit(df[['mean_moisture-percent','mean_temperature','Arosage']],df.moistureAdd)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [23]:
reg.coef_

array([-0.01839499, -0.01968661,  0.75019812])

In [24]:
reg.intercept_

0.77237249129829655

In [34]:
reg.predict([[31,25,10]])[0]

7.211943710937156

# Test de mes résultats

Le but est de faire une boucle sur une période en utilisant les valeurs obtenus à l'itérations précédentes

Creation de liste de planification de l'arrosage pour le test

In [44]:
TestSize = 20 #Taille du Test

testArrosage = np.zeros(TestSize)
testArrosage[2] = 10  #Position de notre arrosage et valeur
testArrosage

array([  0.,   0.,  10.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.])

Création de la liste de plannification de la temperature pour notre test

In [43]:
PosTemperature = np.linspace(980,980+TestSize-1,TestSize)
testTemperature = (df.iloc[PosTemperature, 2]).values
testTemperature

array([ 23.80166667,  25.42333333,  26.02666667,  25.07666667,
        26.195     ,  27.54833333,  30.95      ,  34.26      ,
        34.71      ,  36.22      ,  37.        ,  39.77166667,
        41.91333333,  40.08666667,  30.915     ,  28.08      ,
        27.91333333,  27.76166667,  27.52166667,  27.095     ])

Mise en place du test sur le nombre d'itération souhaité

In [41]:
StartHumidity = 10
result = np.zeros(TestSize)
for i in range(0,TestSize):
    result[i] = StartHumidity + reg.predict([[StartHumidity,testTemperature[i],testArrosage[i]]])[0]
    StartHumidity = result[i]

result

array([ 10.11984839,  10.20556705,  25.28179367,  25.09543323,
        24.89048469,  24.66266362,  24.37206603,  24.02165127,
        23.66882342,  23.29275904,  22.90825681,  22.47626275,
        22.01005306,  21.58838016,  21.355023  ,  21.18176999,
        21.01498507,  20.85425396,  20.70120429,  20.55936958])